
body {
  font: 14px / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 80px;
  background: #222;
  color: #777;
}

h1, h2, h3 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #d6d6d6;
}

h1 + p {
  font-size: 12px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

button {
  margin: 0;
  cursor: pointer;
  background: #262626;
  background: -webkit-linear-gradient(#303030, #262626);
  -webkit-border-radius: 3px;
  box-shadow: inset 1px 1px #383838, 1px 1px #2e2e2e;
  text-shadow: -1px -1px 0 #1d1d1e;
  border: 1px solid #141414;
  padding: 8px 10px;
  color: #9f9f9f;
}

button:hover {
  background: #262626;
  background: -webkit-linear-gradient(#3a3a3a, #262626);
  color: #e8ecf4;
}

button:active {
  background: #262626;
  background: -webkit-linear-gradient(bottom, #3a3a3a, #262626);
  color: #6c6e72;
}

.set button {
  -webkit-border-radius: 0;
}

.set button:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  border-right: none;
}

.set button:last-child {
  border-left: none;
  -webkit-border-radius: 0 3px 3px 0;
}

#drop {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  box-shadow: 0 0 0 1px #141414;
  border-top: 1px solid #2e2e2e;
  font-size: 12px;
  text-shadow: -1px -1px 0 #1d1d1e;
  text-align: center;
  background: rgba(34,34,34,.95);
  -webkit-font-smoothing: antialiased;
}

#drop.over {
  background: rgba(43,43,43,.95);
  color: white;
}

#images {
  margin: 25px 0 0 0;
  padding: 0;
  line-height: 0;
}

#images li {
  margin: 35px;
  padding: 0;
  list-style: none;
  float: left;
  box-shadow: 0 0 10px rgba(0,0,0,.5), 0 10px 10px rgba(0,0,0,.1);
}

#images img {
  max-width: 300px;
  max-height: 300px;
}
